/*body {
  background-image: url("../img/nathaniel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}*/

img {
  float: left;
}

.panel-mint {
  border-color: #00994f;
}

.panel-mint > .panel-heading {
  color: #000;
  background-color: #4dffa9;
}

.panel-mint > .panel-body {
  background-color: #ccffe6;
}

.panel-bleuets {
  border-color: #002546;
}

.panel-bleuets > .panel-heading {
  color: #000;
  background-color: #005fb3;
}

.panel-bleuets > .panel-body {
  background-color: #1a94ff;
}

.panel-tangerine {
  border-color: #dd7600;
}

.panel-tangerine > .panel-heading {
  color: #000;
  background-color: #ff8800;
}

.panel-tangerine > .panel-body {
  background-color: #ffc17a;
}

.panel-aubergine {
  border-color: #43005b;
}

.panel-aubergine > .panel-heading {
  color: #000;
  background-color: #bb00ff;
}

.panel-aubergine > .panel-body {
  background-color: #ce47ff;
}

.panel-cookies {
  border-color: #ae7804;
}

.panel-cookies > .panel-heading {
  color: #000;
  background-color: #e09b06;
}

.panel-cookies > .panel-body {
  background-color: #fbcd6a;
}

.panel-foo {
  border-color: #afa3bf;
}

.panel-foo > .panel-heading {
  color: #000;
  background-color: #ddcef2;
  border-color: #afa3bf;
}

.panel-foo > .panel-body {
  background-color: #faf5ff;
}
