body {
  background-image: url("../img/starsBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

img {
  float: left;
}

ol {
  list-style: upper-roman;
}

.panel {
  /*Because wingdings would be silly.*/
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.panel-body {
  /*Let the panel heading inherit Comic Sans, but override it in the body. Don't want to go overboard.*/
  font-family: sans-serif;
}

.panel-mint {
  border-color: #00994f;
}

.panel-mint > .panel-heading {
  color: #000;
  background-color: #4dffa9;
}

.panel-mint > .panel-body {
  background-color: #ccffe6;
}

.panel-bleuets {
  border-color: #002546;
}

.panel-bleuets > .panel-heading {
  color: #000;
  background-color: #005fb3;
}

.panel-bleuets > .panel-body {
  background-color: #1a94ff;
}

.panel-tangerine {
  border-color: #dd7600;
}

.panel-tangerine > .panel-heading {
  color: #000;
  background-color: #ff8800;
}

.panel-tangerine > .panel-body {
  background-color: #ffc17a;
}

.panel-aubergine {
  border-color: #43005b;
}

.panel-aubergine > .panel-heading {
  color: #000;
  background-color: #bb00ff;
}

.panel-aubergine > .panel-body {
  background-color: #ce47ff;
}

.panel-cookies {
  border-color: #ae7804;
}

.panel-cookies > .panel-heading {
  color: #000;
  background-color: #e09b06;
}

.panel-cookies > .panel-body {
  background-color: #fbcd6a;
}

/*.panel-foo {
  border-color: #;
}

.panel-foo > .panel-heading {
  color: #000;
  background-color: #;
  border-color: #;
}

.panel-foo > .panel-body {
  background-color: #;
}
*/
.well > ul {
  padding-left: 0px;
  -webkit-padding-start: 0px;
  list-style-type: none;
}

.well ul ul {
  padding-left: 15px;
  list-style-type: disc;
}

.jumbotron img {
  margin-right: 10px;
}

.jumbotron h1 {
  font-size: 40px;
}

.contextByParent {
  color: red;
}

.jumbotron p .contextByParent {
  font-weight: bolder;
  color: #000;
}

li .contextByParent {
  color: #000;
  font-family: monospace;
}

.well p .contextByParent {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #111;
}

a:hover, a:visited {
  text-decoration: none;
}

li a {
  color: #000;
}
